<head>
    <meta http-equiv="origin-trial" content="Az520Inasey3TAyqLyojQa8MnmCALSEU29yQFW8dePZ7xQTvSt73pHazLFTK5f7SyLUJSo2uKLesEtEa9aUYcgMAAACPeyJvcmlnaW4iOiJodHRwczovL2dvb2dsZS5jb206NDQzIiwiZmVhdHVyZSI6IkRpc2FibGVUaGlyZFBhcnR5U3RvcmFnZVBhcnRpdGlvbmluZyIsImV4cGlyeSI6MTcyNTQwNzk5OSwiaXNTdWJkb21haW4iOnRydWUsImlzVGhpcmRQYXJ0eSI6dHJ1ZX0=">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <title>Ivy | Dashboard</title> -->
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- theme -->
    <link rel="stylesheet" href="https://ams3.ivymoda.com/assets/bootstrap/css/bootstrap.min.css">
  <!-- icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- theme -->
    <link rel="stylesheet" href="https://ams3.ivymoda.com/assets/css/AdminLTE.css">
    <link rel="stylesheet" href="https://ams3.ivymoda.com/assets/css/skins/_all-skins.min.css">
    <link rel="sty">
    <link rel="stylesheet" href="https://ams3.ivymoda.com/assets/css/jquery-ui.min.css">
    <link rel="stylesheet" href="https://ams3.ivymoda.com/assets/plugins/tagify/tagify.min.css">
    <link rel="stylesheet" href="https://ams3.ivymoda.com/assets/plugins/select2/select2.css">
    <link rel="stylesheet" href="https://ams3.ivymoda.com/assets/plugins/datetimepicker/datetimepicker.min.css">
    <link rel="stylesheet" href="https://ams3.ivymoda.com/assets/plugins/jstree/jstree.min.css">
    <link rel="stylesheet" href="https://ams3.ivymoda.com/assets/plugins/toastr/toastr.css">
    <link rel="stylesheet" href="https://ams3.ivymoda.com/assets/css/style.css?v=1694184460">
    <script type="text/javascript" async="" src="https://www.gstatic.com/recaptcha/releases/0hCdE87LyjzAkFO5Ff-v7Hj1/recaptcha__en.js" crossorigin="anonymous" integrity="sha384-ToIRK/fCxk6HZidjy8su24Pn+8FsKiX4QnuO0AfQZBcsd0m8DMaqafsc91h4byqU"></script><script type="text/javascript">
  
    </script>
    <script src="https://ams3.ivymoda.com/assets/plugins/ckeditor2/ckeditor.js" charset="utf-8"></script><style>.cke{visibility:hidden;}</style>
    <script src="https://ams3.ivymoda.com/assets/js/clipboard.min.js"></script>
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@800&family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <script src="https://www.google.com/recaptcha/api.js" async="" defer=""></script>
  </head>
<header class="main-header">
    <!-- Logo -->
    <a routerLink="/" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <!-- <span class="logo-mini"><b>I</b>VY</span> -->
      <!-- logo for regular state and mobile devices -->
      <div class="navbar-header">
        <a  class="img-thumbnail" routerLink="/" ><img src="https://ams3.ivymoda.com/assets/images/logo.png" height="35.031" ></a>
      </div>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-inverse">
      <!-- <div class="navbar-header">
        <a  class="img-thumbnail" routerLink="/" ><img src="https://ams3.ivymoda.com/assets/images/logo.png" height="35.031" ></a>
      </div> -->
      <div class="navbar-center">
        <!-- Đây là nút bạn muốn chèn -->
    <button class="button-59" role="button" routerLink="/login" >
      Đăng nhập
    </button>
      </div>
      <div class="navbar-collapse collapse" id="menu">
      </div>
        <!-- <div class="navbar-menu">
        <div class="navbar-start">
          <a class="navber-item">Login</a>
        </div>
        </div>      -->
    </nav>
    </header>
      <!-- Left side column. contains the logo and sidebar -->